*.retry
.DS_Store
*.swp
*.pyc
.cache
__pycache__
**/.idea/
.idea/infrastructure.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
roles/elasticsearch/files/files.iml
.gradle/

#  Local .terraform directories
**/.terraform/*
*/.terraform.state.d/*
# .tfstate files
*.tfstate
*.tfstate.*

*.tgz
lambda.zip
.vscode
na_*.db
venv/
serverless/terraform/projects/lines_counter/lines_counter.zip
